:root {
    --color-primary: #2563eb;
    --color-primary-hover: #1d4ed8;
    --color-bg: #ffffff;
    --color-text: #111827;
    --color-secondary-bg: #f3f4f6;
    --color-secondary-bg-dark: #d0d0d0;
    --color-text-secondary: #4b5563;
    --color-text-secondary-dark: #d1d5db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #222222;
    --color-primary-hover: #444444;
    --color-bg: #111111;
    --color-text: #f9fafb;
    --color-secondary-bg: #333333;
    --color-secondary-bg-dark: #222222;
    --color-text-secondary: #d1d5db;
    --color-text-secondary-dark: #d1d5db;
  }
}
